body{
    background-color: white;
    color: black;
}

.contenedor{
    background-color: black;
    color: white;
    padding: 25px;
    text-align: center;
}

.boton a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}