.contenedor-1{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}  


body{
    background-color:white;

}

.botones a{
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}