@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", serif;
  line-height: 15px;
}

.opciones {
  display: none;
}

body {
  background-color: #252440;
  color: #ffffff;
}

/* Página de facturas */
#main-container {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contenedor1,
.contenedor2 {
  margin: 20px;
  width: 50%;
}

#facturas-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

#historial-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.factura-container {
  color: #000;
  background-color: #f9fafc;
  box-shadow: 0px 0px 5px 3px rgba(202, 223, 251, 1);
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  border-radius: 10px;
}

.transacciones {
  color: #000;
  background-color: #f9fafc;
  box-shadow: 0px 0px 5px 3px rgba(202, 223, 251, 1);
  border-radius: 10px;
  padding: 10px 10px 0px;
}

/* Botones */
.financiamiento {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 7px;
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  color: white;
  background-color: rgb(6, 6, 79);
}

.opcion {
  border: 1px solid #000;
  border-radius: 10px;
  padding: 5px 7px;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
}

.opciones {
  margin-top: 10px;
}
